{% extends "header.html" %}

{% block title %} Animal Books {% endblock %}

{% block bookinfo %}

{% endblock %}

{% block grid %}

<h1>{{ pagetitle }}</h1>

</div>
<div class="part">
  <div class="row row-cols-1 row-cols-md-4">
    {% for book in books_list %}
    <div class="col mb-4 col-sm-6">
      <div class="card h-100">
        <img class="card-img-top" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}.jpg?default=false"
        onerror="this.onerror=null; this.src='../static/notfound.png'" alt="aaaaaa" height="350px">
        <div class="card-body">
          <h6 class="card-title">{{ book.title}}</h6>
          <p class="card-text"><small> {{ book.author}}</small></p>
          <p class="card-text"><small> Year: {{book.year}}</small></p>
          <a href="{{ url_for('more', book_id=book.id) }}">see more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}